<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>HI THIS IS MAHESH</h1>

        <h1>GIVE ME ANY ONE {{MONEY}}</h1>

        <h1>WHAT IS YOU NAME: MY {{name}} IAM FROM KURNOOL</h1>


        <h1>THIS PAGE IS USED TO JINJA OPERATION AND SPECIFIC URL MAPPING</h1>
    </center>
</body>
</html>